# Backend Config Variables Docs
# https://terraspace.cloud/docs/config/backend/variables/
terraform {
  backend "gcs" {
    bucket = "<%%= expansion('terraform-state-:PROJECT-:REGION-:ENV') %>"
    prefix = "<%%= expansion(':PROJECT/:TYPE_DIR/:APP/:ROLE/:MOD_NAME/:ENV/:EXTRA/:REGION') %>"
  }
}
