# This starter example of a spec that creates a test harness and provisions a real s3 bucket.
# The test harness will be created at:
#
#    /tmp/terraspace-test-harnesses/<%= @name %>
#
# It's recommended to run this on a test AWS account.
#
describe "main" do
  before(:all) do
    mod_path = File.expand_path("../..", __dir__)
    terraspace.build_test_harness(
      name: "<%= @name %>",
      modules: {example: mod_path},
      stacks:  {example: "#{mod_path}/test/spec/fixtures/stack"},
    )
    terraspace.up("example")
  end
  after(:all) do
    terraspace.down("example")
  end

  it "successful deploy" do
    bucket_url = terraspace.output("example", "bucket_url")
    expect(bucket_url).to include("bucket-") # IE: bucket-pet-name
  end
end
